/* Add CSS Styling */

.odd {
    background-color: #ffc0cb;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.odd.larger {
    font-size: 24px;
}

#even-blue {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

#even-green {
    background-color: hsl(120, 73%, 75%);
    font-size: 24px;
    font-weight: bold;
}